//- _food.jade

block append content

  #food.primary
    .container
      .row
        .col-xs-12.col-sm-7.col-sm-push-5
          .row.tags

            .col-xs-12.visible-xs
              form(role="form")
                select#phoneTagSelect.form-control.input-block-level

            .col-sm-12.hidden-xs
              h3
                | Tags
                small What interests you?
              ul#tagsList.list-inline.tags.hidden-xs
                //- li
                //-   a.toggle.btn.btn-default.btn-sm
                //-     span.name(data-bind="text: name")
                //-     | &nbsp;
                //-     small(data-bind="text: number")

        #places.col-xs-12.col-sm-5.col-sm-pull-7.places
          h3 Select A Tag