//- _food.jade

block append content

  #food.primary
    .container
      .row
        .col-xs-7.col-xs-push-5
          h3 Tags
          ul.list-inline.tags(data-bind="foreach: tags")
            li
              a.toggle.btn.btn-default.btn-sm
                span.name(data-bind="text: name")
                | &nbsp;
                small(data-bind="text: number")

        .col-xs-5.col-xs-pull-7
          h1.name(data-bind="text: filterTags().length == 0 ? 'places' : filterTags().join('|')")
            
          ul.list-unstyled.foods(data-bind="foreach: filtered")
            li(data-bind="text: name")
