//- _food.jade

block append content

  #food.primary
    .container
      .row
        .col-xs-12.col-sm-7.col-sm-push-5
          .row.tags

            .col-xs-12.visible-xs
              form(role="form")
                select#phoneTagSelect.form-control.input-block-level(disabled="disabled" data-bind="options: tags, optionsText: function(item) {return item.name;}, optionsValue: function(item) {return item.name;}, optionsCaption: 'What interests you?', css: 'option'")

            .col-sm-12.hidden-xs
              h3 
                | Tags
                small What interests you?
              ul.list-inline.tags.hidden-xs(data-bind="foreach: tags")
                li
                  a.toggle.btn.btn-default.btn-sm
                    span.name(data-bind="text: name")
                    | &nbsp;
                    small(data-bind="text: number")

        .col-xs-12.col-sm-5.col-sm-pull-7.places
          h1.name.hidden-xs(data-bind="text: filterTags().length == 0 ? 'places' : filterTags().join('|')")
          p.bg-info.nearby(data-bind="text: nearby, visible: showNearby")
          ul.list-unstyled.foods(data-bind="foreach: filtered")
            li(data-bind="text: name")
