//- _front.jade

block append content

  #vision.container.primary
    .row
      .small-3.columns
        img(src="/images/crosswalk.png")
      .small-9.medium-6.columns.end
        h1 WalkDenton's Vision
        p WalkDenton believes that Denton, TX is a unique place and that the community is responsible is key in making this a place where people come to live because of it's small town feel, creative community and liveability. 
        p One aspect of that reputation is the accesibility it provides it's citizens to the heart of the city.

        h2 Community input is needed...
        p WalkDenton is in it's infancy. If you are interested in contributing, we  welcome your experience and enthusiasm. We are looking for:

    .row
      .small-4.columns#cta
        blockquote
          h3 How can you help me Denton a better place?

      .small-8.medium-6.columns.end
        ul.small-block-grid-1.medium-block-grid-3.panel.callout.radius
          li visionaries
          li advocates
          li data geeksd
          li artists
          li engineers
          li programmers
          li writers
          li your talent
