//- _shows.jade

block append content
  #shows.container.primary
    .row
      //- .small-4.medium-3.columns#showsCalendar
      //-   h3 Calendar
      //-   ul.small-block-grid-1(data-bind="foreach: calendarDays").calendar-listing
      //-     li(data-bind="css: countClass")
      //-       a.button(data-bind="attr: {href: link() } ")
      //-         span.weekday(data-bind="text: weekday, visible: showWeekday")
      //-         span.month(data-bind="text: month, visible: showMonth")
      //-         span.day(data-bind="text: day")

      .small-12.columns#showDate
        h1(data-bind="text: formatedDate") Today
        div.shows
          ul.small-block-grid-1.shows(data-bind="foreach: current")
            li
              .row
                .columns.small-12.medium-4.large-2.time
                  span.time(data-bind="text: moment(date).format('hh:mm A')")

                .columns.small-12.medium-8.end.upcoming
                  ul(data-bind="foreach: shows").asdf.small-block-grid-1.medium-block-grid-2
                    li
                      .meta
                        //- span.time(data-bind="text: startsAtTime")
                        a(data-bind="attr: { href: source }")
                          span.venue(data-bind="text: venue().name")
                        span.price(data-bind="text: price")
                      ul.gigs.small-block-grid-1(data-bind="foreach: gigs")
                        li(data-bind="text: artist")

