//- _shows.jade

block append content
  #shows.container.primary
    .row
      .small-8.columns#showDate
        h3(data-bind="text: formatedDate") Today
        div.shows
          ul.small-block-grid-1.shows(data-bind="foreach: shows")
            li
              .meta
                span.time(data-bind="text: startsAtTime")
                a(data-bind="attr: { href: source }")
                  span.venue(data-bind="text: venue")
                span.price(data-bind="text: price")
              ul.gigs.small-block-grid-1(data-bind="foreach: gigs")
                li(data-bind="text: artist")

      .small-4.columns#showsCalendar
        h3 Calendar
        ul.small-block-grid-1(data-bind="foreach: calendarDays").calendar-listing
          li.calendar(data-bind="css: countClass")
            a(data-bind="attr: {href: link() } ")
              span.weekday(data-bind="text: weekday, visible: showWeekday")
              span.month(data-bind="text: month, visible: showMonth")
              span.day(data-bind="text: day")
