// calendar.styl

.calendar-listing
	height 20em
	overflow scroll

	li
		padding-bottom 0.25rem

		a
			color gray

		span
			padding-right 0.5ex

	li.count2
		a
			color blue

	li.count3
		a
			color green

	li.count4
		a
			color orange

	li.count5
		a
			color red
