// calendar.styl

.calendar-listing
	height 20em
	overflow scroll

	li
		padding-bottom 0.25rem

		// a
		// 	color red

		span
			padding-right 0.5ex

	// li.count0
	// 	a
	// 		color gray

	// li.count1
	// 	a
	// 		color white

	// li.count2
	// 	a
	// 		color blue

	// li.count3
	// 	a
	// 		color green

	// li.count4
	// 	a
	// 		color orange

	// li.count5
	// 	a
	// 		color red


li.calendar
	background #999
	margin-bottom 1em