// map.styl

#map
  height: 20em

@media (min-width: 479px)
  #map
    height: 14em


@media (min-width: 760px)
  #map
    height: 60em !important


@media (min-width: 1024px)
  #map
    height: 40em !important
