// map.styl

#map
  height: 20em

  border: 2px solid #666

@media (min-width: $screen-xs-max)
  #map
    height: 12em


@media (min-width: $screen-sm-max)
  #map
    height: 54em !important


@media (min-width: $screen-md-max)
  #map
    height: 36em
