blue = #5B83AD
yellow = #FFFFE0


html, body
  background: #333

html, body, #map
  width 100%

#footer

  h1, h2, h3, h4, p
    color: white
  a
    color: #ccc




#footer
  padding-top 1em

  p
    font-size: 0.8em

@media (max-width: 479px)
  #footer
    padding-top 2em

    // p
    //   font-size: 1.25em



.primary
  display none
  background whitesmoke

#venues
  @extend .primary

#food
  @extend .primary

ul.tags
  .toggled
    background: green


ul.inline-list li
  margin-left: 1ex
.button.small
  margin-bottom: 0.8em