blue = #5B83AD
yellow = #FFFFE0


html, body
  background: #333

html, body, #map
  width 100%

#footer

  h1, h2, h3, h4, p
    color: white
  a
    color: #ccc


#target
  width 40px
  height 20px

#footer
  padding-top 1em

  p
    font-size: 0.8em

@media (max-width: 479px)
  #footer
    padding-top 2em

    // p
    //   font-size: 1.25em



.primary
  display none
  background whitesmoke

#venues
  @extend .primary

#food
  @extend .primary

ul.tags
  .toggled
    background: green

span.verb
  text-transform: capitalize
  padding-right: 0.5ex


ul.inline-list li
  margin-left: 1ex
.button.tiny
  margin-bottom: 0.6em

#cta
  font-weight bold
  font-style italic

li.name
  i, a
    color: lightgreen


span.verb
  color: #999